.value-line {
	fill: none;
	stroke: lime;
	stroke-width: 1.5px;
}

.grid-line-x {
	stroke: lightgrey;
	opacity: 0.7;
	stroke-dasharray: 5, 5;
}

.grid path {
	stroke-width: 0;
}

.value-rect-invalid path {
	fill: darkred;
	stroke: red;
}

.value-rect-invalid rect {
	fill: darkred;
	stroke: red;
}

.value-rect-valid path {
	fill: green;
	stroke: lime;
}

.value-rect-valid text {
	text-anchor: middle;
	fill: white;
}

.value-rect-invalid text {
	text-anchor: middle;
	fill: white;
}

.wave-graph {
	background-color: black;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.domain {
	stroke: yellow;
	stroke-width: 1.5px;
	shape-rendering: crispEdges;
	vector-effect: non-scaling-stroke;
}

.tick line {
	stroke-width: 1.5px;
	stroke: yellow;
}

.axis text {
	shape-rendering: crispEdges;
	fill: yellow;
}


.axis-y path {
	shape-rendering: crispEdges;
	fill: yellow;
}

.axis-y .highlight text {
    fill: #ff751a;
    font-weight: bold;
}

.scrollbar .mover {
  fill: steelblue;
  pointer-events: all;
  cursor: ns-resize;
  opacity: 0.5;
}

.scrollbar .subBar { 
  fill: gray;
  opacity: 0.5;
}

.vertical-help-line {
	stroke: white;
	stroke-width: 2;
}

.labelcell.selected rect {
	opacity: 50%;
	fill: aqua;
}

.labelcell text {
	cursor:grabbing;
}

.labelcell .expandable {
	cursor:pointer;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.axis .icons {
    fill: white;
}
